In [1]:
import requests
import json
import pandas as pd
from pprint import pprint
from datetime import datetime
import wbdata

In [2]:
df = pd.read_csv("covid_data.csv")

In [3]:
df = df.drop_duplicates(subset=['ISO'])
df.head()

,country,ISO2,ISO,slug,start_date,end_date,lable_end_date,active,new_cases_feature,new_cases_label,stringency_actual,population,gdp_per_capita,population_density,Urban_population,UHC_service_coverage_index,basic_sanitation_services,Population_ages_0_to_14,Population_ages_15_to_64,Population_ages_65_and_over
0,Oman,OM,OMN,oman,2020-01-22,2020-02-11,2020-03-02,0,0,6,19.44,4.974986e+06,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.448590
50,India,IN,IND,india,2020-01-22,2020-02-11,2020-03-02,3,3,5,10.19,1.366418e+09,2104.145900,454.938073,34.472,55.0,59.543448,26.618265,67.003811,6.377924
100,Israel,IL,ISR,israel,2020-01-22,2020-02-11,2020-03-02,0,0,10,19.44,9.053300e+06,43641.397736,410.480591,92.501,82.0,100.000001,27.885572,59.905754,12.208674
150,Thailand,TH,THA,thailand,2020-01-22,2020-02-11,2020-03-02,23,31,41,0.00,6.962558e+07,7808.192916,135.897207,50.692,80.0,98.750735,16.823536,70.770213,12.406250
200,Haiti,HT,HTI,haiti,2020-01-22,2020-02-11,2020-03-02,0,0,0,2.78,1.126308e+07,754.587918,403.598549,56.192,49.0,34.704454,32.858587,62.077743,5.063670

In [4]:
df = df[["country", "ISO2", "ISO","slug" ]]

In [13]:
base_url = "https://api.covid19api.com/total/country/"

start_date = []
end_date = []
active= []
new_cases_feature = []

for i in range(len(df)):
   
    print(df.iloc[i, 3])
    
    request = requests.get(base_url +  df.iloc[i, 3])
    json = request.json()
    json = json[-20:]
        
    confirmed = json[19]["Confirmed"]
    confirmed_2 = json[0]["Confirmed"]

    new_cases_feature_1 = confirmed - confirmed_2

    active_1 = json[19]["Active"]
    end_date_1 = json[19]["Date"]
    start_date_1 = json[0]["Date"]


    start_date.append(start_date_1)
    end_date.append(end_date_1) 
    active.append(active_1)
    new_cases_feature.append(new_cases_feature_1)

oman
india
israel
thailand
haiti
luxembourg
nepal
peru
madagascar
algeria
burundi
colombia
egypt
romania
albania
finland
kenya
malaysia
papua-new-guinea
costa-rica
tanzania
italy
jamaica
guatemala
ireland
australia
seychelles
slovakia
bangladesh
botswana
belize
moldova
cyprus
zimbabwe
lao-pdr
portugal
malawi
nicaragua
cape-verde
croatia
guyana
pakistan
myanmar
cambodia
el-salvador
france
kyrgyzstan
saudi-arabia
russia
spain
poland
belarus
sweden
burkina-faso
mali
barbados
serbia
ukraine
nigeria
norway
lesotho
panama
fiji
czech-republic
iceland
new-zealand
senegal
niger
tajikistan
trinidad-and-tobago
belgium
guinea
denmark
liberia
united-kingdom
bosnia-and-herzegovina
germany
indonesia
jordan
sri-lanka
tunisia
gabon
swaziland
congo-brazzaville
georgia
greece
slovenia
estonia
ghana
honduras
lithuania
mozambique
netherlands
philippines
afghanistan
timor-leste
benin
namibia
suriname
canada
cameroon
iraq
morocco
dominican-republic
latvia
mexico
angola
ecuador
cote-divoire
kazakhstan
singapore
uruguay
china
kuwait
paraguay
united-arab-emirates
brazil
azerbaijan
uzbekistan
korea-south
mauritania
rwanda
bolivia
mauritius
austria
congo-kinshasa
gambia
mongolia
bulgaria
djibouti
hungary
libya
qatar
solomon-islands
turkey
zambia
chad
south-africa
united-states
switzerland
chile
ethiopia
japan
vietnam
bahrain
lebanon
sierra-leone
togo
uganda

In [14]:
df["start_date"] = start_date
df["end_date"] = end_date
df["active"] = active
df["new_cases_feature"] = new_cases_feature

In [15]:
df["end_date"] = pd.to_datetime(df["end_date"]).dt.strftime('%Y-%m-%d')
df["start_date"] = pd.to_datetime(df["start_date"]).dt.strftime('%Y-%m-%d')

In [16]:
today = datetime.today()
today = str(today.year) + '-' + str(today.month) + '-' + str(today.day-1)

In [17]:
df.head()

,country,ISO2,ISO,slug,start_date,end_date,active,new_cases_feature
0,Oman,OM,OMN,oman,2020-10-19,2020-11-07,8513,6573
50,India,IN,IND,india,2020-10-19,2020-11-07,512665,910691
100,Israel,IL,ISR,israel,2020-10-19,2020-11-07,8812,14073
150,Thailand,TH,THA,thailand,2020-10-19,2020-11-07,123,137
200,Haiti,HT,HTI,haiti,2020-10-19,2020-11-07,1277,151

In [18]:
url = "https://covidtrackerapi.bsg.ox.ac.uk/api/v2/stringency/date-range/" + today + "/" + today
jsonfile_stringency = requests.get(url)
stringency = jsonfile_stringency.json()

In [19]:
stringency_actual = []


for i in range(len(df)):

    print(df.iloc[i,2])
    
    stri = stringency["data"][df.iloc[i,5]][df.iloc[i,2]]["stringency"]
    stringency_actual.append(stri)

OMN
IND
ISR
THA
HTI
LUX
NPL
PER
MDG
DZA
BDI
COL
EGY
ROU
ALB
FIN
KEN
MYS
PNG
CRI
TZA
ITA
JAM
GTM
IRL
AUS
SYC
SVK
BGD
BWA
BLZ
MDA
CYP
ZWE
LAO
PRT
MWI
NIC
CPV
HRV
GUY
PAK
MMR
KHM
SLV
FRA
KGZ
SAU
RUS
ESP
POL
BLR
SWE
BFA
MLI
BRB
SRB
UKR
NGA
NOR
LSO
PAN
FJI
CZE
ISL
NZL
SEN
NER
TJK
TTO
BEL
GIN
DNK
LBR
GBR
BIH
DEU
IDN
JOR
LKA
TUN
GAB
SWZ
COG
GEO
GRC
SVN
EST
GHA
HND
LTU
MOZ
NLD
PHL
AFG
TLS
BEN
NAM
SUR
CAN
CMR
IRQ
MAR
DOM
LVA
MEX
AGO
ECU
CIV
KAZ
SGP
URY
CHN
KWT
PRY
ARE
BRA
AZE
UZB
KOR
MRT
RWA
BOL
MUS
AUT
COD
GMB
MNG
BGR
DJI
HUN
LBY
QAT
SLB
TUR
ZMB
TCD
ZAF
USA
CHE
CHL
ETH
JPN
VNM
BHR
LBN
SLE
TGO
UGA

In [20]:
df["stringency_actual"] = stringency_actual

In [21]:
countries = list(df["ISO"].values)

In [22]:
countries

['OMN',
 'IND',
 'ISR',
 'THA',
 'HTI',
 'LUX',
 'NPL',
 'PER',
 'MDG',
 'DZA',
 'BDI',
 'COL',
 'EGY',
 'ROU',
 'ALB',
 'FIN',
 'KEN',
 'MYS',
 'PNG',
 'CRI',
 'TZA',
 'ITA',
 'JAM',
 'GTM',
 'IRL',
 'AUS',
 'SYC',
 'SVK',
 'BGD',
 'BWA',
 'BLZ',
 'MDA',
 'CYP',
 'ZWE',
 'LAO',
 'PRT',
 'MWI',
 'NIC',
 'CPV',
 'HRV',
 'GUY',
 'PAK',
 'MMR',
 'KHM',
 'SLV',
 'FRA',
 'KGZ',
 'SAU',
 'RUS',
 'ESP',
 'POL',
 'BLR',
 'SWE',
 'BFA',
 'MLI',
 'BRB',
 'SRB',
 'UKR',
 'NGA',
 'NOR',
 'LSO',
 'PAN',
 'FJI',
 'CZE',
 'ISL',
 'NZL',
 'SEN',
 'NER',
 'TJK',
 'TTO',
 'BEL',
 'GIN',
 'DNK',
 'LBR',
 'GBR',
 'BIH',
 'DEU',
 'IDN',
 'JOR',
 'LKA',
 'TUN',
 'GAB',
 'SWZ',
 'COG',
 'GEO',
 'GRC',
 'SVN',
 'EST',
 'GHA',
 'HND',
 'LTU',
 'MOZ',
 'NLD',
 'PHL',
 'AFG',
 'TLS',
 'BEN',
 'NAM',
 'SUR',
 'CAN',
 'CMR',
 'IRQ',
 'MAR',
 'DOM',
 'LVA',
 'MEX',
 'AGO',
 'ECU',
 'CIV',
 'KAZ',
 'SGP',
 'URY',
 'CHN',
 'KWT',
 'PRY',
 'ARE',
 'BRA',
 'AZE',
 'UZB',
 'KOR',
 'MRT',
 'RWA',
 'BOL',
 'MUS',
 'AUT',
 'COD',
 'GMB',
 'MNG',
 'BGR',
 'DJI',
 'HUN',
 'LBY',
 'QAT',
 'SLB',
 'TUR',
 'ZMB',
 'TCD',
 'ZAF',
 'USA',
 'CHE',
 'CHL',
 'ETH',
 'JPN',
 'VNM',
 'BHR',
 'LBN',
 'SLE',
 'TGO',
 'UGA']

In [23]:
date = datetime(2019, 1, 1)




population = wbdata.get_data("SP.POP.TOTL", country = countries, data_date = date,freq='Y')
gdp_cap = wbdata.get_data("NY.GDP.PCAP.CD", country = countries, data_date = date,freq='Y')
population_density = wbdata.get_data("EN.POP.DNST", country = countries, data_date = datetime(2018, 1, 1),freq='Y')
Urban_population = wbdata.get_data("SP.URB.TOTL.IN.ZS", country = countries, data_date = date,freq='Y')
UHC_service_coverage_index = wbdata.get_data("SH.UHC.SRVS.CV.XD", country = countries, data_date = datetime(2017, 1, 1),freq='Y')
basic_sanitation_services = wbdata.get_data("SH.STA.BASS.ZS", country = countries, data_date = datetime(2017, 1, 1),freq='Y')
Population_ages_0_to_14 = wbdata.get_data("SP.POP.0014.TO.ZS", country = countries, data_date = date,freq='Y')
Population_ages_15_to_64 = wbdata.get_data("SP.POP.1564.TO.ZS", country = countries, data_date = date,freq='Y')
Population_ages_65_and_over = wbdata.get_data("SP.POP.65UP.TO.ZS", country = countries, data_date = date,freq='Y')

In [24]:
multiple_data = {}

for i in range(len(Urban_population)):
    multiple_data.update({Urban_population[i]["countryiso3code"] : {"population" : population[i]["value"],
                                                                "gdp_per_capita": gdp_cap[i]["value"],
                                                                "population_density" : population_density[i]["value"],
                                                                "Urban_population" : Urban_population [i]["value"], 
                                                                 "UHC_service_coverage_index": UHC_service_coverage_index [i]["value"],
                                                                "basic_sanitation_services": basic_sanitation_services [i]["value"],
                                                                 "Population_ages_0_to_14": Population_ages_0_to_14 [i]["value"],
                                                                  "Population_ages_15_to_64": Population_ages_15_to_64 [i]["value"],
                                                                   "Population_ages_65_and_over": Population_ages_65_and_over [i]["value"]}})

In [25]:
population_list = []
gdp_per_capita_list = []
population_density_list = []
Urban_population_list = []
UHC_service_coverage_index_list = []
basic_sanitation_services_list = []
Population_ages_0_to_14_list = []
Population_ages_15_to_64_list = []
Population_ages_65_and_over_list = []

for i in range(len(df)):

    d1 = multiple_data[df.iloc[i,2]]["Urban_population"]
    d2 = multiple_data[df.iloc[i,2]]["UHC_service_coverage_index"]
    d3 = multiple_data[df.iloc[i,2]]["basic_sanitation_services"]
    d4 = multiple_data[df.iloc[i,2]]["Population_ages_0_to_14"]
    d5 = multiple_data[df.iloc[i,2]]["Population_ages_15_to_64"]
    d6 = multiple_data[df.iloc[i,2]]["Population_ages_65_and_over"]
    d7 = multiple_data[df.iloc[i,2]]["population"]
    d8 = multiple_data[df.iloc[i,2]]["gdp_per_capita"]
    d9 = multiple_data[df.iloc[i,2]]["population_density"]
    
    population_list.append(d7)
    gdp_per_capita_list.append(d8)
    population_density_list.append(d9)
    Urban_population_list.append(d1)
    UHC_service_coverage_index_list.append(d2)
    basic_sanitation_services_list.append(d3)
    Population_ages_0_to_14_list.append(d4)
    Population_ages_15_to_64_list.append(d5)
    Population_ages_65_and_over_list.append(d6)

In [26]:
df["population"] = population_list
df["gdp_per_capita"] = gdp_per_capita_list
df["population_density"] = population_density_list

df["Urban_population"] = Urban_population_list
df["UHC_service_coverage_index"] = UHC_service_coverage_index_list
df["basic_sanitation_services"] = basic_sanitation_services_list
df["Population_ages_0_to_14"] = Population_ages_0_to_14_list
df["Population_ages_15_to_64"] = Population_ages_15_to_64_list
df["Population_ages_65_and_over"] = Population_ages_65_and_over_list

In [27]:
df.head()

,country,ISO2,ISO,slug,start_date,end_date,active,new_cases_feature,stringency_actual,population,gdp_per_capita,population_density,Urban_population,UHC_service_coverage_index,basic_sanitation_services,Population_ages_0_to_14,Population_ages_15_to_64,Population_ages_65_and_over
0,Oman,OM,OMN,oman,2020-10-19,2020-11-07,8513,6573,37.04,4974986,15474.032475,15.604145,85.443,69,99.999999,22.418395,75.133015,2.448590
50,India,IN,IND,india,2020-10-19,2020-11-07,512665,910691,61.57,1366417754,2104.145900,454.938073,34.472,55,59.543448,26.618265,67.003811,6.377924
100,Israel,IL,ISR,israel,2020-10-19,2020-11-07,8812,14073,40.74,9053300,43641.397736,410.480591,92.501,82,100.000001,27.885572,59.905754,12.208674
150,Thailand,TH,THA,thailand,2020-10-19,2020-11-07,123,137,43.52,69625582,7808.192916,135.897207,50.692,80,98.750735,16.823536,70.770213,12.406250
200,Haiti,HT,HTI,haiti,2020-10-19,2020-11-07,1277,151,43.52,11263077,754.587918,403.598549,56.192,49,34.704454,32.858587,62.077743,5.063670

In [29]:
df.to_csv("data_for_predection.csv",index= False )